{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - Wisdom Drivers </title>
        <link rel="stylesheet" id="ample-style-css" href= "{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="Wisdom Drivers">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Wisdom Drivers" rel="home">Wisdom Drivers</a>
                            </h1>
                            <p>We treat your drivers like we treat our own.</p>
                        </div>
                    </div>
                    <img src="{% static 'images/header.jpg' %}" alt="Wisdom Drivers">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Wisdom drivers  strives to blend navigation ,shipping logistics with Artificial Intellegence And Machine Learning principles to provide optimal Data Analytics to Truck Drivers through the world! </p>
                        <p> Owners: Augustine M. , Lucien and Lamar Lyons  </p>
                        <hr>
                        <div>
                        Wisdom drivers  is a fictitious brand created by Virginia Tech Data analytics program, solely for the purpose of training. All products and people associated with Wisdom drivers are also fictitious. Any resemblance to real brands, products, or people is purely coincidental.
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Wisdom drivers  is a fictitious brand created by Virginia Tech Data analytics program, solely for the purpose of training. All products and people associated with Wisdom drivers are also fictitious. Any resemblance to real brands, products, or people is purely coincidental.
                </div>
            </footer>
        </div>
    <script src="{% static 'main.js' % }"></script>
    </body>
</html>
